<% include header.html %>
      <h4>User Account</h4>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="wrapper clearfix">
          <div class="formy">
            <div class="row">
              <div class="col-md-12">
                <form action="/edit" method="post" enctype="multipart/form-data" name="frmEditUser">
                  <div class="form-group">
                    <label for="username">User Name</label>
                    <input type="text" tabindex="1" class="form-control" name="username" id="username" value ="<%= user.user.username %>" readonly>
                  </div>
                  <div class="form-group">
                    <label for="email">Email</label>
                    <input type="text" tabindex="1" class="form-control" name="email" id="email" value ="<%= user.user.email %>" readonly>
                  </div>
                  <div class="form-group">
                    <label for="address">Location</label>
                    <input type="text" tabindex="1" class="form-control" id="address" name="address" value ="<%= user.user.address %>" required>
                  </div>
                  <div class="submit">
                    <label><a href="javascript:frmEditUser.submit()"><strong>Update</strong></a></label>
                  </div>
                </form>
              </div>            
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% include footer.html %>