<!doctype html>
<html>
<head>
    <title>Gems Game</title>
    <script type='text/javascript' src='/reload/reload.js'></script>
    <script type='text/javascript' src='/bootstrap/js/bootstrap.min.js'></script>
    <script type='text/javascript' src='/js/jquery-2.1.1.min.js'></script>
    <link rel='stylesheet' href='/bootstrap/css/bootstrap.min.css' />
    <link rel='stylesheet' href='/bootstrap/css/bootstrap-theme.min.css' />
    <link rel='stylesheet' href='/stylesheets/compiled/theme.css' />
</head>
<body>
  <div id='score'></div>
  <div id='gamefield'></div>
  <div id='marker'></div>
  <div id='buttons'><button type="submit" class="btn btn-warning btn-lg" onclick="javascript:hasMoreMoves()">New Game</button></div>
</body>
<script type='text/javascript' src='/js/gemsgame.js'></script>
<link rel='stylesheet' href='/stylesheets/style.css'/>
</html>