<% include header.html %>
			<h4>Sign in to your account.</h4>
    </div>
  </div>
<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="wrapper clearfix">
					<div class="formy">
						<div class="row">
							<div class="col-md-12">
								<form role="form" action="/login" method="post" name="frmLogin">
										<% if (message.length > 0) { %>
							        <div class="alert alert-danger"><%= message %></div>
							    	<% } %>
							  		<div class="form-group">
							    		<label for="email">Email address</label>
							    		<input type="email" class="form-control" id="email" name="email" />
							  		</div>
							  		<div class="form-group">
							    		<label for="password">Password</label>
							    		<input type="password" class="form-control" id="password" name="password"/>
							  		</div>
							  		<button type="submit" class="btn btn-warning btn-lg">Login</button>
								</form>
							</div>
						</div>						
					</div>
				</div>
				<div class="already-account">
					Don't have an account?
					<a href="/signup">Create one here</a>
				</div>
		</div>
	</div>
</div>
<% include footer.html %>