<% include header.html %>
			<h4>Create a new account.</h4>
    </div>
  </div>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="wrapper clearfix">
					<div class="formy">
						<div class="row">
							<div class="col-md-12">
								<form role="form" action="/signup" method="post" name="frmSignup">
									<div class="form-group">
						    		<label for="username">Your name</label>
						    		<input type="text" class="form-control" id="username" name="username" />
						  		</div>
						  		<div class="form-group">
						    		<label for="email">Email address</label>
						    		<input type="email" class="form-control" id="email" name="email" />
						  		</div>
						  		<div class="form-group">
						    		<label for="password">Password</label>
						    		<input type="password" class="form-control" id="password" name="password" />
						  		</div>
						  		<button type="submit" class="btn btn-warning btn-lg">Signup</button>
								</form>
							</div>
						</div>						
					</div>
				</div>
				<div class="already-account">
					Already have an account?
					<a href="/login" data-toggle="popover" data-placement="top" data-content="Go to login!" data-trigger="manual">Login</a>
				</div>
			</div>
		</div>
	</div>

	<script type="text/javascript">
		$(function () {
			$(".already-account a").popover();
			$(".already-account a").popover('show');
		});
	</script>

<% include footer.html %>