<% include header.html %>
		<h4>User information</h4>
  </div>
</div>
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="wrapper clearfix">
				<div class="formy">
					<div class="row">
						<div class="col-md-12">
							<div>
								<fieldset>
									<div>
										<div class="form-group">
											<label><strong>User Name:</strong> <%= user.user.username %></label>
										</div>
										<div class="form-group">
											<label><strong>Email:</strong> <%= user.user.email %></label>
										</div>
										<div class="form-group">
											<label><strong>Location:</strong> <%= user.user.address %></label> 
										</div>div class="form-group">
											<label><strong>Best Score:</strong> <%= user.user.bestscore %></label> 
										</div>
										<br>
										<br>
										<div>
											<label><a href="/edit"><strong>Update Profile</strong></a></label>
										</div>
									</div>
								</fieldset>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<% include footer.html %>
