

#gamefield{
  marging-top:200px; 
  position:relative;
}

#marker{
  background-color:transparent;
  width:52px;
  height:52px;
  border:5px solid red;
  position:absolute;
}


.gridBox {
    width: 430px;
    height: 430px;
}

.gembox {
    display:block;
    position:absolute;
    height: 50px;
    width: 50px;
    border:1px solid white;
    cursor:pointer;
}

.gemRemove {
    display:block;
    position:absolute;
    height: 50px;
    width: 50px;
    border:0px;
    cursor:pointer;
    background-color: transparent!important;
}